.imagen{
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(https://res.cloudinary.com/dxj2qfzio/image/upload/v1689784448/logo_uuofss.png);
    background-repeat: no-repeat;
    background-size: auto;
}